/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Caveat', cursive; /* Artistic font for the body text */
    background-color: gold;
    font-size: 24px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}


nav {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 28px;
    position: relative;
}

nav a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
}

.section-separator {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transform: skewX(-10deg);
}

.section-separator h2 {
    display: inline-block;
    writing-mode: horizontal-tb;
    transform: skewX(10deg);
    /* Reset any previous skew */
}

.category {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category img {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(2deg);
    transition: transform 0.3s ease-in-out;
}

.category:hover img {
    transform: scale(1.1) rotate(2deg);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-text ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: justify;
}

.about-text ul li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
}

.about-text ul li::before {
    content: "\2605"; /* Star character */
    font-size: 1.2em;
    color:gold; /* Star color */
    position: absolute;
    left: 0;
}

.about-text {
    width: 60%;
    color: #333;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111;
}

.artist-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* Contact section styles */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-section {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text within the card */
    max-width: 400px; /* Set a maximum width for the card */
    margin: 0 auto; /* Center the card horizontally */

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease-in-out;
}
/* Add your own artistic styles as needed */

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    margin: 0 10px;
    text-decoration: none;
    color: #333; /* Adjust icon color */
}

.contact-icons i {
    font-size: 20px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 0.5em 0;
    }

    nav {
        margin-top: 0.5em;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 5px 0;
    }

    .category img {
        width: 100%;
    }

    .about {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about-text {
        width: 100%;
        text-align: justify;
    }

    .artist-image img {
        width: 150px;
        height: 150px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}
